.cate{
	padding: 15px 10px;
	border: 0.8px solid rgba(0, 0, 0, 0.07);
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 20px;
}
.cate h5{
	size: 1rem;
	padding:7px 0;
	padding-bottom: 10px;
	text-align: center;
	border-bottom: 1px solid;
	border-image: linear-gradient(to right, white , brown , white)1;
}
.list_cate{
	padding: 20px 4px;
}
.list_cate p{
	padding: 20px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.08);
	cursor: pointer;
	margin: 4px !important;
	transition: 0.4s;
}
.list_cate p:hover{
	background: #D6D0D0;
	color: black;
	font-family: 'roboto';
}
.list_cate p:hover a{
		color: black;
}
.filter{
	padding: 15px 15px;
	border: 0.8px solid rgba(0, 0, 0, 0.07);
	border-radius: 5px;
	overflow: hidden;
}
.filter h5{
	size: 1rem;
	padding:7px 0;
	padding-bottom: 10px;
	text-align: center;
	border-bottom: 1px solid;
	border-image: linear-gradient(to right, white , brown , white)1;
}
.style_color h6{
	size: 1rem;
	padding:7px 10px;
	padding-bottom: 10px;
}
.list_color{
	padding: 10px;
}
.price a{
	color: #333;
	font-size: 12px;
	font-weight: 500;
	padding: 7px 15px;
	background: #e8e7e7;
	text-decoration: none;
}
.price a:hover{
	color: #fff;
	background: #c0a576;
}
.listpage{
	margin-bottom: 80px;
}
.fix_icon{
	display: flex;
	justify-content: flex-end;
}
.change_list a{
	font-size: 18px;
	background-color: #f1f1f1;
	color: #575560;
	padding: 10px;
	align-items: center;
	text-align: center;
}
.change_list a:hover{
	background: #c0a576;
}

@media screen (min-width: 992px) {
	.fix_icon{
		display:inline-block;
		justify-content: flex-end;		
	}
}